html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********/
body {
	font: 14px/1.375em Palatino, "Palatino Linotype", "Book Antiqua", serif;
	color: white;

	background: url("http://perfectword.renatocron.com/static/images/pattern.gif") repeat fixed right bottom #121212;
}
/********************************************************************************/
#images li {
	cursor: pointer;
	display: inline-block;
	height: 90px;
	width: 90px;
	border: 2px solid gray;
	margin: 5px;

	background-color: #ddd;
	background-color: rgba(255, 255, 255, 0.4)!important;
	border-radius: 10px;

	box-shadow: 0px 0px 8px #000;
	-moz-box-shadow: 0px 0px 8px #000;
	-webkit-box-shadow: 0px 0px 8px #000;

	-moz-transition: all 1000ms ease-in;
	-webkit-transition: all 1000ms ease-in;
	transition: all 1000ms ease-in;
}

#images li:hover{
	background-color: #eee;
	background-color: rgba(255, 255, 255, 0.6)!important;
	-webkit-transition: background-color 100ms ease-in;
	-moz-transition: background-color 100ms ease-in;
	transition: background-color 100ms ease-in;
}

#images img {
	display: block;

	height: 75px;
	width: 75px;
	margin: 7.6px;
}

#images img.a {
	background-color: red;
	z-index: 1;
}

#images img.b {
	background: url("dot_s.png") no-repeat scroll 15px 12px white;
	z-index: 10;
	margin-top: -82.6px;
}
#images img.h {display:none}

#images li.solved img.b {
	display: none !important;
}

#game {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}


#images li.selected {
	border: 2px solid #FFF;
	background-color: #FFF;
	background-color: #FFF!important;

	-webkit-transition: all 1000ms ease-in;
	-moz-transition: all 1000ms ease-in;
	transition: all 1000ms ease-in;
}

#images li.solved {
	background-color: #FFF!important;
	border-color: black;
	cursor: default!important;


	box-shadow: 0 0 8px #FFF;
	-moz-box-shadow: 0px 0px 8px #FFF;
	-webkit-box-shadow: 0px 0px 8px #FFF;

	-webkit-transition: all 1000ms ease-in;
	-moz-transition: all 1000ms ease-in;
	transition: all 1000ms ease-in;
}


.btn {
	border:1px solid #222;
	margin: 5px;
	text-transform: uppercase;

	background: #222 url(alert-overlay.png) repeat-x;
	background-color: #222;

	display: inline-block;
	padding: 5px 10px 6px;
	color: #FFF;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);

	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}


.btn:hover	{ background-color: #111;
-webkit-transition: background-color 500ms ease-in-out;
-moz-transition: background-color 500ms ease-in-out;
transition: background-color 500ms ease-in-out;
}
.btn:active	{ top: 1px; }

.btn,
.medium.btn { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.btn 	{ font-size: 14px; padding: 8px 14px 9px; }

.green.btn { background-color: #91bd09; }
.green.btn:hover{ background-color: #749a02; }

.blue.btn{ background-color: #2daebf; }
.blue.btn:hover	{ background-color: #007d9a; }

.red.btn { background-color: #e33100; }
.red.btn:hover	{ background-color: #F00; }

.orange.btn{ background-color: #ff5c00; }
.orange.btn:hover { background-color: #d45500; }

.yellow.btn{ background-color: #ffb515; }
.yellow.btn:hover { background-color: #fc9200; }



#status_bar {padding: 5px; width: 520px; overflow: auto; clear: both; margin: 0 auto;}
#status_bar dt {display: block; border-bottom: 1px solid #eee; }
#status_bar dt, #status_bar dd {width: 100%; float:left;}

#status_bar div {
    float: left;
    width: 130px;

}



